body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1{
    color: #5b9b8e;
    font-size: 2.5em;
}

header{
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #1a1a1a;
}

nav a{
    color: #5b9b8e;
    text-decoration: none;
}

main{
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.metodo-titulo{
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    color: #5b9b8e;
}

.precio{
    font-weight: bold;
    color: #5b9b8e;
}

#reservas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.50rem;
}

#contador-tazas{
    font-size: 1.3em;
    font-weight: bold;
    color: #5b9b8e;
}

#boton-reservar{
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1.25rem;
    background-color: #5b9b8e;
    color: #f2f0ea;
    border: none;
    border-radius: 7px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1em;
    cursor: pointer;
}

footer{
    padding: 1.5rem 2rem;
    border-top: 1px solid #c4c3c3;
    text-align: center;
    font-size: 1.5em;
    color: #5b9b8e;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcd9d9;
}

footer img{
    width: 100px;
    margin-right: 1rem;
}