body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

h1{
    color: #5b9b8e;
    font-size: 2.5em;
}

header{
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #1a1a1a;
}

nav a{
    color: #5b9b8e;
    text-decoration: none;
}

main{
    padding: 3rem 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.metodo-titulo{
    font-size: 1.1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    color: #5b9b8e;
}

.precio{
    font-weight: bold;
    color: #5b9b8e;
}

footer{
    padding: 1.5rem 2rem;
    border-top: 1px solid #1a1a1a;
    text-align: center;
    font-size: 1.5em;
    color: #5b9b8e;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcd9d9;
}

footer img{
    width: 100px;
    margin-right: 1rem;
}